---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import type { Post } from "@/data/posts";

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6"> Hej 👋</h1>
		<p class="mb-4">
			I am a hands-on cloud architect, a seasoned Data & AI specialist, and I have a proven track record in leading distributed high-performing teams. I have a strong background in consultancy across various industries,and proven ability to deliver successful international customer projects. <br> 
			I'm also passionate about cycling and the occasional run. On a perpetual quest for the finest brew in town. ☕ 
		</p> 
		<SocialList />
	</section>
	<!--
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<PostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	 -->
</PageLayout>
